.navigation-bar{
  }

.navlinks {
    position: relative;
    display: inline-block;
    padding: .5rem;
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease-in-out;
  }
  .navlinks:hover {
    color: #ffdd57; /* Lighter yellow for hover */
  }
  
  /* Create the underline effect */
  .navlinks::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f6c506; /* Color of the underline */
    transform: scaleX(0); /* Initially hidden (collapsed) */
    transform-origin: left; /* Start animation from the left */
    transition: transform 0.25s ease; /* Smooth transition effect */
  }
  
  /* On hover, show the underline by expanding it */
  .navlinks:hover::after {
    transform: scaleX(1); /* Fully expand the underline */
  }